# Laden der Daten

In [59]:
import pandas as pd
import numpy as np

COSTS = {
    "Moneycard": {"success": 5, "failed": 2},
    "Goldcard": {"success": 10, "failed": 5},
    "UK_Card": {"success": 3, "failed": 1},
    "Simplecard": {"success": 1, "failed": 0.5},
}
TIME_FEATURES = {"day": 31, "dow": 7, "hour": 24}

df = pd.read_excel("data.xlsx")
df = df.drop(columns=["Unnamed: 0"])


def process_data(processed: pd.DataFrame) -> pd.DataFrame:
    """Drop duplicates and generate Features."""
    processed = processed.drop_duplicates()
    processed = processed.copy()

    # Informationen aus Zeitstempel extrahieren
    processed["month"] = processed.loc[:, "tmsp"].dt.month.astype("int64")
    processed["week"] = processed.loc[:, "tmsp"].dt.isocalendar().week.astype("int64")
    processed["day"] = processed.loc[:, "tmsp"].dt.day.astype("int64")
    processed["dow"] = processed.loc[:, "tmsp"].dt.dayofweek.astype("int64")
    processed["hour"] = processed.loc[:, "tmsp"].dt.hour.astype("int64")
    processed["second"] = processed.loc[:, "tmsp"].dt.second.astype("int64")
    processed["is_weekend"] = np.where(processed["dow"] >= 5, True, False)
    processed["is_business_hours"] = np.where((processed["hour"] >= 8) & (processed["hour"] < 20), True, False)

    # Zeit-Features zyklisch kodieren
    # week und month nicht zyklisch kodieren da kein Zyklusübergang

    for key, value in TIME_FEATURES.items():
        processed[f"{key}_sin"] = np.sin(2 * np.pi * processed[key] / value)
        processed[f"{key}_cos"] = np.cos(2 * np.pi * processed[key] / value)

    # Kosten
    processed["cost"] = processed.apply(
        lambda row: COSTS[row["PSP"]]["success"] if row["success"] else COSTS[row["PSP"]]["failed"],
        axis=1,
    )

    # Wiederholte Transaktionsversuche aufgrund fehlgeschlagener Transaktionen
    processed["timedelta"] = processed["tmsp"].diff().dt.total_seconds().fillna(0).astype("int64")
    cols_to_compare = ["country", "amount", "3D_secured", "card"]
    processed["is_retry"] = (processed[cols_to_compare] == processed[cols_to_compare].shift(1)).all(axis=1)

    # anzahl kontinuierlicher Retry Versuche
    retry_groups = (~processed["is_retry"]).cumsum()
    processed["retry_count"] = processed.groupby(retry_groups)["is_retry"].cumsum().astype("int64")

    # Wechsel PSP bei Retry
    processed["PSP_switch"] = False
    processed["PSP_switch"] = np.where(
        (processed["is_retry"]) & (processed["PSP"] != processed["PSP"].shift(1))
        | processed["is_retry"] & (processed["PSP_switch"].shift(1)),
        True,
        False,
    )
    # anzahl aufeinanderfolgende failed unterschiedlicher Umsätze

    # anzahl
    return processed


processed = process_data(df)

In [57]:
pd.set_option("display.max_columns", None)
processed.iloc[100:150, :]

,tmsp,country,amount,success,PSP,3D_secured,card,month,week,day,dow,hour,second,is_weekend,is_business_hours,day_sin,day_cos,dow_sin,dow_cos,hour_sin,hour_cos,cost,timedelta,is_retry,retry_count,PSP_switch
101,2019-01-01 01:44:25,Germany,228,0,UK_Card,0,Diners,1,1,1,1,1,25,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,1.0,9,True,1,False
102,2019-01-01 01:45:17,Germany,228,1,UK_Card,0,Diners,1,1,1,1,1,17,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,3.0,52,True,2,False
103,2019-01-01 01:46:23,Germany,322,0,UK_Card,0,Master,1,1,1,1,1,23,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,1.0,66,False,0,False
104,2019-01-01 01:47:23,Germany,322,0,Moneycard,0,Master,1,1,1,1,1,23,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,2.0,60,True,1,True
105,2019-01-01 01:54:24,Austria,367,0,Moneycard,0,Visa,1,1,1,1,1,24,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,2.0,421,False,0,False
106,2019-01-01 01:55:08,Austria,367,0,UK_Card,0,Visa,1,1,1,1,1,8,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,1.0,44,True,1,True
107,2019-01-01 01:55:17,Austria,367,1,UK_Card,0,Visa,1,1,1,1,1,17,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,3.0,9,True,2,False
108,2019-01-01 01:57:28,Switzerland,190,0,UK_Card,0,Diners,1,1,1,1,1,28,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,1.0,131,False,0,False
109,2019-01-01 01:57:29,Switzerland,190,0,Simplecard,0,Diners,1,1,1,1,1,29,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,0.5,1,True,1,True
110,2019-01-01 01:58:00,Switzerland,190,0,UK_Card,0,Diners,1,1,1,1,1,0,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,1.0,31,True,2,True
111,2019-01-01 01:58:54,Switzerland,190,0,UK_Card,0,Diners,1,1,1,1,1,54,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,1.0,54,True,3,False
112,2019-01-01 01:59:14,Switzerland,190,0,UK_Card,0,Diners,1,1,1,1,1,14,False,False,0.201299,0.97953,0.781831,0.62349,0.258819,0.965926,1.0,20,True,4,False
113,2019-01-01 02:01:48,Germany,186,0,UK_Card,0,Master,1,1,1,1,2,48,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,154,False,0,False
114,2019-01-01 02:02:01,Germany,186,1,UK_Card,0,Master,1,1,1,1,2,1,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,3.0,13,True,1,False
115,2019-01-01 02:03:39,Germany,121,0,Moneycard,1,Master,1,1,1,1,2,39,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,2.0,98,False,0,False
116,2019-01-01 02:03:52,Germany,121,0,UK_Card,1,Master,1,1,1,1,2,52,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,13,True,1,True
117,2019-01-01 02:04:19,Germany,121,1,UK_Card,1,Master,1,1,1,1,2,19,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,3.0,27,True,2,False
118,2019-01-01 02:06:48,Germany,274,1,UK_Card,0,Master,1,1,1,1,2,48,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,3.0,149,False,0,False
119,2019-01-01 02:08:53,Germany,264,0,Simplecard,1,Master,1,1,1,1,2,53,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,125,False,0,False
120,2019-01-01 02:10:05,Germany,132,0,UK_Card,0,Master,1,1,1,1,2,5,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,72,False,0,False
121,2019-01-01 02:10:07,Germany,132,0,Simplecard,0,Master,1,1,1,1,2,7,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,2,True,1,True
122,2019-01-01 02:10:33,Germany,132,0,Moneycard,0,Master,1,1,1,1,2,33,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,2.0,26,True,2,True
123,2019-01-01 02:10:49,Germany,132,0,Simplecard,0,Master,1,1,1,1,2,49,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,16,True,3,True
124,2019-01-01 02:11:16,Germany,132,0,Moneycard,0,Master,1,1,1,1,2,16,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,2.0,27,True,4,True
125,2019-01-01 02:13:13,Germany,228,0,Simplecard,0,Diners,1,1,1,1,2,13,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,117,False,0,False
126,2019-01-01 02:14:18,Switzerland,279,0,UK_Card,1,Master,1,1,1,1,2,18,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,65,False,0,False
127,2019-01-01 02:14:51,Switzerland,279,0,Simplecard,1,Master,1,1,1,1,2,51,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,33,True,1,True
128,2019-01-01 02:14:59,Switzerland,279,0,UK_Card,1,Master,1,1,1,1,2,59,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,8,True,2,True
129,2019-01-01 02:15:16,Switzerland,279,1,UK_Card,1,Master,1,1,1,1,2,16,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,3.0,17,True,3,False
130,2019-01-01 02:16:34,Austria,104,1,Moneycard,0,Master,1,1,1,1,2,34,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,5.0,78,False,0,False
131,2019-01-01 02:18:06,Switzerland,184,0,Simplecard,0,Master,1,1,1,1,2,6,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,92,False,0,False
132,2019-01-01 02:20:08,Austria,258,0,UK_Card,0,Diners,1,1,1,1,2,8,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,122,False,0,False
133,2019-01-01 02:24:07,Austria,209,1,UK_Card,0,Master,1,1,1,1,2,7,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,3.0,239,False,0,False
134,2019-01-01 02:25:56,Germany,260,0,UK_Card,0,Master,1,1,1,1,2,56,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,109,False,0,False
135,2019-01-01 02:25:58,Germany,260,0,UK_Card,0,Master,1,1,1,1,2,58,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,2,True,1,False
136,2019-01-01 02:26:36,Germany,260,0,UK_Card,0,Master,1,1,1,1,2,36,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,38,True,2,False
137,2019-01-01 02:26:40,Germany,260,0,Moneycard,0,Master,1,1,1,1,2,40,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,2.0,4,True,3,True
138,2019-01-01 02:28:50,Switzerland,383,0,UK_Card,0,Master,1,1,1,1,2,50,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,130,False,0,False
139,2019-01-01 02:30:02,Germany,109,0,Moneycard,0,Master,1,1,1,1,2,2,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,2.0,72,False,0,False
140,2019-01-01 02:31:15,Austria,161,0,Simplecard,0,Master,1,1,1,1,2,15,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,73,False,0,False
141,2019-01-01 02:33:00,Germany,127,0,Simplecard,0,Master,1,1,1,1,2,0,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,105,False,0,False
142,2019-01-01 02:33:24,Germany,127,0,Moneycard,0,Master,1,1,1,1,2,24,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,2.0,24,True,1,True
143,2019-01-01 02:33:39,Germany,127,0,Moneycard,0,Master,1,1,1,1,2,39,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,2.0,15,True,2,False
144,2019-01-01 02:36:48,Germany,233,1,Simplecard,1,Visa,1,1,1,1,2,48,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,189,False,0,False
145,2019-01-01 02:38:38,Germany,129,0,UK_Card,1,Master,1,1,1,1,2,38,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,110,False,0,False
146,2019-01-01 02:39:30,Germany,129,0,Goldcard,1,Master,1,1,1,1,2,30,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,5.0,52,True,1,True
147,2019-01-01 02:39:31,Germany,129,0,UK_Card,1,Master,1,1,1,1,2,31,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,1.0,1,True,2,True
148,2019-01-01 02:40:04,Germany,129,1,UK_Card,1,Master,1,1,1,1,2,4,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,3.0,33,True,3,False
149,2019-01-01 02:43:05,Germany,243,0,Simplecard,0,Master,1,1,1,1,2,5,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,0.5,181,False,0,False
150,2019-01-01 02:43:06,Germany,243,0,Moneycard,0,Master,1,1,1,1,2,6,False,False,0.201299,0.97953,0.781831,0.62349,0.500000,0.866025,2.0,1,True,1,True

In [5]:
processed[
    [
        "tmsp",
        "timedelta",
        "country",
        "amount",
        "3D_secured",
        "card",
        "PSP",
        "success",
        "is_retry",
    ]
].head(50)

,tmsp,timedelta,country,amount,3D_secured,card,PSP,success,is_retry
0,2019-01-01 00:01:11,999,Germany,89,0,Visa,UK_Card,0,False
1,2019-01-01 00:01:17,6,Germany,89,0,Visa,UK_Card,1,True
2,2019-01-01 00:02:49,92,Germany,238,1,Diners,UK_Card,0,False
3,2019-01-01 00:03:13,24,Germany,238,1,Diners,UK_Card,1,True
4,2019-01-01 00:04:33,80,Austria,124,0,Diners,Simplecard,0,False
5,2019-01-01 00:06:41,128,Switzerland,282,0,Master,UK_Card,0,False
6,2019-01-01 00:07:19,38,Switzerland,282,0,Master,Simplecard,0,True
7,2019-01-01 00:08:46,87,Germany,117,0,Master,UK_Card,1,False
8,2019-01-01 00:09:56,70,Switzerland,174,0,Visa,Simplecard,0,False
9,2019-01-01 00:10:49,53,Switzerland,174,0,Visa,Simplecard,0,True
10,2019-01-01 00:12:15,86,Austria,232,1,Diners,Simplecard,0,False
11,2019-01-01 00:12:52,37,Austria,232,1,Diners,UK_Card,0,True
12,2019-01-01 00:13:34,42,Austria,232,1,Diners,UK_Card,0,True
13,2019-01-01 00:13:44,10,Austria,232,1,Diners,UK_Card,0,True
14,2019-01-01 00:14:35,51,Austria,232,1,Diners,UK_Card,1,True
15,2019-01-01 00:15:45,70,Germany,268,0,Master,Simplecard,0,False
16,2019-01-01 00:18:18,153,Switzerland,89,0,Master,Simplecard,0,False
17,2019-01-01 00:18:21,3,Switzerland,89,0,Master,UK_Card,0,True
18,2019-01-01 00:18:37,16,Switzerland,89,0,Master,Moneycard,0,True
19,2019-01-01 00:20:53,136,Germany,205,0,Master,UK_Card,0,False
20,2019-01-01 00:20:56,3,Germany,205,0,Master,UK_Card,0,True
21,2019-01-01 00:21:11,15,Germany,205,0,Master,Moneycard,1,True
22,2019-01-01 00:23:48,157,Switzerland,111,0,Master,Simplecard,0,False
23,2019-01-01 00:24:41,53,Switzerland,111,0,Master,UK_Card,0,True
24,2019-01-01 00:24:55,14,Switzerland,111,0,Master,UK_Card,0,True
25,2019-01-01 00:25:47,52,Switzerland,111,0,Master,UK_Card,0,True
26,2019-01-01 00:26:07,20,Switzerland,111,0,Master,UK_Card,0,True
27,2019-01-01 00:26:50,43,Switzerland,111,0,Master,UK_Card,0,True
28,2019-01-01 00:28:56,126,Switzerland,277,0,Diners,Goldcard,1,False
29,2019-01-01 00:30:50,114,Switzerland,137,0,Diners,UK_Card,0,False
30,2019-01-01 00:32:18,88,Switzerland,148,0,Diners,Moneycard,0,False
31,2019-01-01 00:34:04,106,Austria,394,0,Diners,UK_Card,0,False
32,2019-01-01 00:34:33,29,Austria,394,0,Diners,UK_Card,0,True
33,2019-01-01 00:35:25,52,Austria,394,0,Diners,UK_Card,0,True
34,2019-01-01 00:35:34,9,Austria,394,0,Diners,UK_Card,1,True
35,2019-01-01 00:36:36,62,Germany,84,0,Master,Moneycard,0,False
36,2019-01-01 00:41:15,279,Austria,34,0,Visa,Moneycard,0,False
37,2019-01-01 00:41:25,10,Austria,34,0,Visa,Simplecard,0,True
38,2019-01-01 00:41:43,18,Austria,34,0,Visa,Goldcard,0,True
39,2019-01-01 00:44:21,158,Switzerland,324,0,Master,UK_Card,0,False
40,2019-01-01 00:46:07,106,Germany,251,1,Master,UK_Card,0,False
41,2019-01-01 00:46:34,27,Germany,251,1,Master,UK_Card,0,True
42,2019-01-01 00:47:16,42,Germany,251,1,Master,UK_Card,0,True
43,2019-01-01 00:47:39,23,Germany,251,1,Master,Simplecard,0,True
44,2019-01-01 00:51:27,228,Germany,100,0,Master,UK_Card,0,False
45,2019-01-01 00:51:38,11,Germany,100,0,Master,UK_Card,0,True
46,2019-01-01 00:52:00,22,Germany,100,0,Master,UK_Card,0,True
47,2019-01-01 00:52:04,4,Germany,100,0,Master,UK_Card,0,True
48,2019-01-01 00:52:29,25,Germany,100,0,Master,Simplecard,0,True
49,2019-01-01 00:55:23,174,Germany,221,0,Visa,Moneycard,0,False

In [ ]:
processed[
    [
        "tmsp",
        "timedelta",
        "country",
        "amount",
        "3D_secured",
        "card",
        "PSP",
        "success",
        "is_retry",
    ]
].to_csv("test.csv")

In [ ]:
pd.set_option("display.max_columns", None)
processed.loc[
    processed["is_retry"],
    [
        "tmsp",
        "timedelta",
        "country",
        "amount",
        "3D_secured",
        "card",
        "PSP",
        "success",
        "is_retry",
    ],
].head(50)

In [ ]:
time_df = processed.loc[processed["is_retry"], "timedelta"]
time_df.hist(bins=100)

In [ ]:
time_df = processed.loc[processed["is_retry"], ["timedelta", "is_retry"]]
time_df[processed["timedelta"] > 40].value_counts()

In [ ]:
time_df[processed["timedelta"] > 60]["timedelta"].unique()

In [ ]:
time_df[processed["timedelta"] > 60].shape